.mask{
    position: absolute;
    top:0;
    min-height: 100%;
    width: 100%;
    background-color: rgb(166, 166, 166);
}
.login-container{
    background-color: rgb(249, 249, 249);
    margin-top:20%;
    width:100%;
    flex-direction: column;
    max-width: 500px;
    justify-self: center;
    border:  1px solid gray;
    padding: 60px;
    border-radius: 20px;
}