
<div class="card mb-3" style=" background-color: rgb(244, 241, 237);">
  <div class="row no-gutters">
    <div class="col-md-4 profile-image" >
      <img [src]="profile().image" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <div class="card-text">User Name   : {{profile().username}}</div>
        <div class="card-text">First Name  : {{profile().firstName}}</div>
        <div class="card-text">Last Name   : {{profile().lastName}}</div>
        <div class="card-text">Email id    : {{profile().email}}</div>
        <div class="card-text">Gender      : {{profile().gender}}</div>

      </div>
    </div>
  </div>
</div>